[Unit]
Description=Rocket + React Web Applications

[Service]
# User=www-data
# Group=www-data
WorkingDirectory=/home/mw/wm-ax
Environment="ROCKET_ENV=prod"
Environment="ROCKET_ADDRESS=127.0.0.1"
Environment="ROCKET_PORT=8000"
Environment="ROCKET_LOG=critical"
ExecStartPre=/bin/mkdir -p /var/log/wm-ax
ExecStartPre=/bin/chown syslog:adm /var/log/wm-ax
ExecStartPre=/bin/chmod 755 /var/log/wm-ax
ExecStart=/home/mw/wm-ax/wm-ax-start.sh

[Install]
WantedBy=multi-user.target