[Unit]
Description=Rust Web Application Service
[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/mw/wm-ax/backend/
Environment="ROCKET_ENV=prod"
Environment="ROCKET_ADDRESS=127.0.0.1"
Environment="ROCKET_PORT=8000"
Environment="ROCKET_LOG=critical"
ExecStart=/home/mw/wm-ax/backend/target/release/blog
[Install]
WantedBy=multi-user.target